<div class="container" style="background-color: #333333;">
	<div style="margin: 60px;  background-color: white;">
		<div style="text-align: center">
		<h4>ながのCAKEよりパスワード再設定申請を受け付けました <br><%= @resource.last_name %> <%= @resource.first_name %>様</h4>

		<p>以下のリンクから新しいパスワードを設定してください。</p>

		<br><br><p><%= link_to '新しいパスワードを設定する', confirmation_url(@resource, confirmation_token: @token),class:"btn-push", :style=>"
  display: inline-block;
  max-width: 180px;
  text-align: left;
  background-color: #ffa300;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 4px;
  border-bottom: 4px solid #d37800;" %></p>

		<img alt="LOGO" src="/assets/logo2.png" style="height: 300px; position: relative;">


		<div id="foot_guide">


			<dl class="right" style="font-size: 12px; background-color: #333333; color: white; padding-bottom: 15px; padding-top: 15px;" >
			<br><dt>お問い合わせ</dt>
			<dd>ながのCAKE 本店</dd>
			<dd>営業時間 / 10:00～18:00(毎週金曜日定休日)</dd>
			<dd>&nbsp;</dd>
			<dd>住所：〒384-5929<br>
			長野県長野市手洗い町びおれ 99-99</dd>
			<dd>TEL：06-1234-5678</dd>
			<dd>MAIL：tearai@mainichi.co.jp</dd>
			<dt></dt>
			<dd><a href="#" style="color: white; line-height: 15px;"><i class="fab fa-instagram" style="font-size:30px; color:white;"></i> instagram</a></dd>
			</p>
			</dl>


			</div>

			</footer>
		</div>
	</div>
</div>
			<hr>



			<br class="clearfix">
			<dl class="left" style="font-size: 10px; text-align: center;">
			<dt style="font-size: 15px;">*本メールについて</dt>
			<dd>本メールは、ながのCAKE メンバーアカウント・パスワード再設定のご要望を受けてお送りしております。<br> ながのCAKE メンバーアカウント・パスワード再設定申請をした心当たりがない場合は、本メールを破棄していただきますようお願いいたします。</dd>
			</dl>