<%= render 'layouts/members_header' %>
<div class="container title" style="text-align: center;">
	<img src="/assets/logo2.png" style="height: 150px;">
	<h2>ながのCAKEについて</h2>
	<br>
	<p>
		当店のスイーツは長野県産の果物のみを使用し<br>
		一つ一つ丁寧に作り上げています<br>
	</p>
	<p>
		当店では健康を気になさる方でも安心していただけるよう<br>
		保存料等はしておりません
	</p>
	<p>
		長野県の大自然が産んだ美味しい果物を<br>
		ふんだんに使用したスイーツをぜひご賞味ください！
	</p>
</div>
<%= render 'layouts/members_footer' %>