<%= render 'layouts/members_header' %>
<div class="container">
	<div class="row">
		<div class="col-xs-offset-2 col-xs-8 col-xs-offset-2 text-center">
			<div class="alert alert-info" role="alert">
				<h1><strong><span class="glyphicon glyphicon-envelope" aria-hidden="true"> メールを送信しました</strong></h1>
			</div>
			<p>パスワード再設定用の確認メールを送信しました。メールに記載されているリンクにアクセスし<br/>
			パスワード再設定の手続きを進めてください。</p>


		</div>
	</div>
</div>

<%= render 'layouts/members_footer' %>