<%= render 'layouts/members_header' %>
<div class="container">
	<div class="row">
		<div class="col-xs-offset-2 col-xs-8 col-xs-offset-2 text-center">
			<div class="alert alert-warning" role="alert">
				<h1><strong><span class="glyphicon glyphicon-envelope" aria-hidden="true"> 会員登録はまだ完了していません</span></strong></h1>
			</div>
			<p>ご本人確認のため、ご登録いただいたメールアドレスに確認メールを送信しました。<br/>
			メール本文中の認証確認リンクをクリックして認証を完了してください。</p>
			<p>認証が完了次第当サイトでのログインが可能になります。</p>

		</div>
	</div>
</div>

<%= render 'layouts/members_footer' %>