<%= render 'layouts/members_header' %>

<h1>メールアドレスの登録がまだ完了していません</h1>
<p>ご本人確認のため、ご登録いただいたメールアドレスに確認メールを送信しました。<br/>
	メール本文中の認証確認リンクをクリックして認証を完了してください。</p>
<p>認証が完了次第当サイトでのログインが可能になります</p>

<%= render 'layouts/members_footer' %>