/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";

@import 'font-awesome-sprockets';
@import 'font-awesome';

footer {
 margin-top :100px;
 padding-top:30px;
 padding-bottom:10px;
 width:100%;
 background-color:#333333;
 color:#FFF;
 font-size:12px;
}

#foot_guide {
 width:100%;
 margin:0 auto;
}

.footer-title {
 padding:20px 0 10px;
 text-align:center;
 font-size:28px;
 font-weight:bold;
}

.left {
 margin-left:70px;
 width:50%;
 float:left
}

.right {
 margin-left:70px;
 width:30%;
 float:left;
}

dt {
 font-size:14px;
 font-weight:bold;
 margin-top:10px;
}

dd {
 margin-left:15px;
 margin-top:5px;
}

hr {
 border: none;
 border-top: solid 1px #fff;
 margin-top:10px;
}
.footer-logo{
	width:150px;
	float:left;
}

.copyright {
 clear:both;
 text-align:center;
 font-size:10px;
 font-weight:bold;
}

.footer-admin-session{
	color: #333333;
	margin-top:30px;
	margin-left:70px;
}

.border-none{
	border: 0;
}

.btn-shine {
  color: #fff;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
}

.btn-shine:hover {
  color: #FFF;
  border-color: #FFF;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: transparent;
  outline-offset: 12px;
  text-shadow: 2px 2px 3px #000;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #333;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background-color: #333;     /*背景の色を変える*/
  border-radius: 5px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 5px;    /*角を丸くする*/
  background-color: #333;
  color: #fff;
}
.pagination > .active > a, .pagination > .active > a:hover{
  background-color: #333;
}

.title{
  font-family: 秀英明朝 L , Shuei Mincho L ,"游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

.text{
  display: none;
}

.text01{
  display: block;
}