// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hover1 {
  display: inline-block;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.hover1:hover {
  opacity: 0.6;
}
.panel-default{
	width: 180px !important;
}