// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hover1 {
  display: inline-block;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.hover1:hover {
  opacity: 0.6;
}

@font-face{
   font-family: "oligopoly";
   src: font-url('/assets/Butchery.ttf');
 }
.introduction{
	font-family: "oligopoly";
	font-size: 120px;
	padding-right: 180px;
	padding-top: 30px;
	color: white;
}
.introduction1{
	font-family: "oligopoly";
	font-size: 100px;
}
#conta{
    height: 500px; /* ここの高さはいくつでも構いません */
}