<footer>


	<div id="foot_guide">

		<dl class="left">
			<dt>お支払いについて</dt>
			<dd>お支払いはクレジットカード・銀行振込がご利用いただけます。</dd>
			<dt>配送について</dt>
			<dd>【業者】手洗い急便・毎日運輸 <span> ※運送会社の指定はございません。</span></dd>
			<dd>【送料】全国一律800円</dd>

			<hr>

			<dt>返品交換について</dt>
			<dd>ご希望の方は必ず、注意点をご確認いただき、<br>商品お受け取り後１週間以内に当店までご連絡くださいませ。</dd>
		</dl>

		<dl class="right">
			<dt>お問い合わせ</dt>
			<dd>ながのCAKE 本店</dd>
			<dd>営業時間 / 10:00～18:00(毎週金曜日定休日)</dd>
			<dd>&nbsp;</dd>
			<dd>住所：〒384-5929<br>
			長野県長野市手洗い町びおれ 99-99</dd>
			<dd>TEL：06-1234-5678</dd>
			<dd>MAIL：tearai@mainichi.co.jp</dd>
			<dt>SNS</dt>
			<dd><a href="#" style="color: white; line-height: 15px;"><i class="fab fa-instagram" style="font-size:30px; color:white;"></i> instagram</a></dd>
			<br><br><p>管理者サイトへのログインは<%= link_to "こちら",new_admin_session_path, :style => "color:#white;" %>から
			</p>
		</dl>

		<br class="clearfix">

	</div>

</footer>
	<div class="footer-last">
	<h5 class="copyright">© All rights recerved by TearaiShiyouz.Inc.</h5>
	</div>
